canvas#spider-cursor {
    width: 100vw;
    height: 100svh;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    user-select: none;
    z-index: 9999;
    touch-action: none;
}

:root, * {
    overscroll-behavior: none;
    box-sizing: border-box;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem 1rem;
}

button {
    font-family: unset;
    font-size: unset;
    cursor: pointer;
    border: unset;
}