canvas#spider-cursor {
    width: 100vw;
    height: 100svh;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    user-select: none;
    z-index: 9999;
    touch-action: none;
}

:root,
* {
    font-family: 'Times New Roman', Times, serif;
    font-size: unset;

    overscroll-behavior: none;
    box-sizing: border-box;
}

header,
footer {
    position: absolute;
    padding: 0.5rem 1rem;
}

header {
    top: 0;
    left: 0;
    text-wrap: balance;
}

footer {
    bottom: 0;
    right: 0;
    text-align: right;
    text-wrap: balance;
}

button {
    cursor: pointer;
    border: unset;
    background: unset;
    padding: unset;
}

a, button, a:visited {
    color: blue;
    text-decoration: underline;
    text-decoration-style: dotted;
}

a:hover, button:hover {
    text-decoration-style: solid;
}

a:active, button:active {
    text-decoration-style: wavy;
}

a:visited, a:visited:active, button.used {
    color: purple;
}